/*.minorMajor-selected {
    font-weight: 600
}*/

.minorMajor-button, .minorMajor-toggle {
    display: inline-block;
}

.minorMajor-button {
    padding: 0 20px;
}

.minorMajor-toggle {
    width: 80px;
}

.minorMajor-major {
    text-align: left;
}

.minorMajor-minor {
    text-align: right;
}

